# Gerando as coordenadas para baixar os dados

## Importando bibliotecas

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
lat = np.arange(-90,91,step=1,dtype=np.float64)[::-1]
lon = np.arange(-180,181,step=1,dtype=np.float64)[::-1]
longitude,latitude = np.meshgrid(lon,lat)
longitude = longitude.ravel()
latitude = latitude.ravel()
height = 10000.*np.ones_like(latitude)

In [3]:
arrays = np.stack((longitude,latitude,height),axis=1)

In [4]:
arrays

array([[  180.,    90., 10000.],
       [  179.,    90., 10000.],
       [  178.,    90., 10000.],
       ...,
       [ -178.,   -90., 10000.],
       [ -179.,   -90., 10000.],
       [ -180.,   -90., 10000.]])

In [5]:
filename = 'data_set/coordinates.csv'

In [6]:
data = pd.DataFrame(arrays)
data.to_csv(filename)

In [7]:
data

           0     1        2
0      180.0  90.0  10000.0
1      179.0  90.0  10000.0
2      178.0  90.0  10000.0
3      177.0  90.0  10000.0
4      176.0  90.0  10000.0
...      ...   ...      ...
65336 -176.0 -90.0  10000.0
65337 -177.0 -90.0  10000.0
65338 -178.0 -90.0  10000.0
65339 -179.0 -90.0  10000.0
65340 -180.0 -90.0  10000.0

[65341 rows x 3 columns]